<h1>Editing desechado</h1>

<%= render "form", desechado: @desechado %>

<br>

<div>
  <%= link_to "Show this desechado", @desechado %> |
  <%= link_to "Back to desechados", desechados_path %>
</div>
