<p style="color: green"><%= notice %></p>

<h1>Tasks ETL</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Ver este task", task %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo task", new_task_path %>
